.vcr {
  font-family: 'VCR OSD Mono', sans-serif;
  text-transform: uppercase;
  user-select: none;
  height: 100vh;
  width: 100vw;
}

.icon {
  height: 84px;
  width: 84px;
  color: darkmagenta;
  margin-bottom: -15px;
  mix-blend-mode: multiply;
  object-fit: contain;
}

.iconLink {
  position: absolute;
  display: block;
  width: min-content;
  text-decoration: none;
}

.header {
  padding: 2rem;
  font-family: 'VCR OSD Mono', sans-serif;
  font-weight: 700;
  font-size: 3.75rem;
  letter-spacing: 0.02em;
  text-align: left;
  color: #FFF;
  text-shadow: -0.13rem -0.06rem 0px #e51616, 0.9rem 3.6rem 0px #e51616, 1.26rem 4.12rem 0px #1f16e5;
}