.vcr {
  font-family: 'VCR OSD Mono', sans-serif;
  text-transform: uppercase;
}

.icon {
  height: 56px;
  width: fit-content;
  color: darkmagenta;
  margin-bottom: 0;
  mix-blend-mode: multiply;
}

.iconLink {
  display: block;
  width: min-content;
}